h1 {
    color: #5D8018;
    font-family: 'Poiret One', cursive;
    font-size: 4vh;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;


}

.list:hover { 
    background-color: white;
}

nav li a {
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    color: #5D8018;
    font-size: 3vh;
}



.list {
    font-family: 'Poiret One', cursive;
    margin: 5vh;
    padding: 2vh;
    border-radius: 1vh;
}

h2 {
    color: #5D8018;
    font-family: 'Poiret One', cursive;
}

img {
    height: 14vh;
    border: 1px solid #5D8018;
    border-radius: 1vh;
}

.seeds, .skin, .green, .red, .medium, .rare {
    display: flex;
    flex-direction: row;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #caffba;
}

.left {
    width: 50%;
    height: auto;
    border: 2px solid #5D8018;
    margin-right: 3px;
}

.right {
    width: 50%;
    border: 2px solid #5D8018;
    height: auto;
    margin-left: 3px;
}

.apple, .banana, .peach, .strawberry, .broccoli, .cabbage, .carrot, .pepper, .beef, .chicken, .pork, .duck {
    margin: 2vh;
    width: 20vw;
    height: 20vh;
}

.fruit, .meat, .vegetables {
    position: relative;
    text-align: center;
}

#shopping {
    color: #5D8018;
    font-family: 'Poiret One', cursive;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

aside ul li {
    padding: 1vh;
    font-size: 3vh;
    font-weight: bold;
}

aside h1 {
    margin-bottom: 20vh;
}

/* .check {
    display: flex;
    flex-direction: row;
} */

.out {
    float: right;
    border: 2px #5D8018 solid;
    background: transparent;
    margin-right: 1vh;
    color: #5D8018;
    height: 4vh;
    border-radius: 1vh;
}